@require '/public/stylesheets/src/*'
@require 'variables'

body
  font-family: main-font

h1
  color: color-primary
  font-family: header-font
  padding-top: 25px

.center
  text-align: center

.button
  font-family: header-font

.material-icons
  color: color6

.error
  color: color-primary
  font-size: 12px
  padding-bottom: 5px
  text-align: center

  #myInput
    font-size: 16px
    padding: 12px 20px 12px 40px
    margin-bottom: 12px

.bold-text
  font-weight: bold

.red
  color: color6

.green
  color: green
