@require '/public/css/src/*'
@require 'variables'

body
  font-family: main-font

h1
  color: color-primary
  font-family: header-font

h3
  font-family: header-font
  color: color3

.center
  text-align: center

.button
  font-family: header-font

.material-icons
  color: color6
