@require '/public/stylesheets/src/*'
@require 'variables'

body
  font-family: main-font

h1
  color: color-primary
  font-family: header-font

.center
  text-align: center

.button
  font-family: header-font

.material-icons
  color: color6
