sea-blue = rgba(135, 241, 255, 1)
color-initial =  rgba(192, 245, 250, 1)
color-secondary =  rgba(189, 139, 156, 1)
color-primary =  rgba(175, 18, 90, 1)
brown =  rgba(88, 43, 17, 1)

color1 =  rgba(90, 125, 124, 1)
color2 =  rgba(234, 224, 204, 1)
color3 =  rgba(0, 38, 66, 1)
color4 =  rgba(160, 193, 209, 1)
color5 =  rgba(181, 178, 194, 1)
color6 =  rgba(132, 0, 50, 1)

header-font = 'Shadows Into Light Two', cursive
main-font = 'Dosis', sans-serif
